body {
  background-color: #EAF6F6;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}
h1 {
  color: #66bfbf;

}
h3 {
  color: #66bfbf;
}
input:hover{
  font-size: 20px;
}
textarea:hover{
  font-size: 15px;
}
.button:hover{
  font-size: 15px;
}
a:hover{
  font-size: 20px;
}
